.MuiPaper-root{
  padding: 10px;
  .question-title{
    margin: 10px 0;
  }
  .button-next{
    float: right;
    margin-top: 145px !important;
  }
  
  &.container-forwarding{
  	animation-name: forward-question-animation;
  	animation-duration: 0.5s;
  }
}



@keyframes forward-question-animation {
  0% {transform: translateY(0); opacity: 1;}
  50% {transform: translateY(-100vh); opacity: 0;}
  75% {transform: translateY(100px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}